.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    color: #777777;
    margin: auto;
}

.profileImage{
    width: 25%;
    height: 25%;
}

h1 {
    margin-top:0px;
    background: #4aaaa5;
    color: #ffffff;
    width: 250px;
    float: left
}
.internalLinks{
    float: right;
    color: darkgray;
}

.links{
    margin-left: 10px;
    color: lightslategray;
}

h2 {
    color: #4aaaa5;
}

h3 {
    background: #4aaaa5;
    color: #ffffff;
}

nav {
    height: 65px;
    background: #ffffff;
    border: #cccccc;
    border:2px;
    width:960px;
    margin: auto;
}

footer {
    background: #666666;
}

.mainSection {
    background: #ffffff;
    width: 960px;
    margin: auto;
    border:80px;
    border: #dddddd;
}


